<!--First Navigator/About.html-->
<h1>Quantum Video Games Superstore</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
   <!--Second Navigator/Index.html-->
   
   <img src="images/quantum_store_final_logo.jpeg" alt="Quantum Video Games Superstore Logo" width="250">
   <h1>Quantum Video Games Superstore</h1>
   <nav>
       <ul>
           <li><a href="index.html">Home</a></li>
           <li><a href="about.html">About</a></li>
       </ul>
   </nav>     